*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    line-height: 1.1571;
    //font-style: italic;
    background: #f1f1f1; //#1e2630;
}
label{margin:0;}
a:active, a{
    text-decoration:none;
    color: inherit;
    transition: all 0.3s;
}
a:active, a:hover{
    text-decoration:none;
    color: #2cdcdc; //#e6ffff; //#1ee976; //aqua; //#30eb30;
}
button, input[type="button"], input[type="submit"], input[type="text"], input[type="number"], input[type="password"]{
    background: #55a7ab;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 30px;
    width: auto;
    padding: 0px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    transition: all 0.3s;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover{
    background: #5fced4; //#eeeeee38;
}
input[type="text"], input[type="password"], input[type="number"]{
    background: #eee;
    cursor: initial;
    color: #000;
}
button[disabled]{
    cursor: not-allowed;
    opacity: 0.5;
}
.icon-loader{
    border: 2px solid #fff0;
    border-radius: 50%;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    display: inline-block;
}
.ion-icon-loader{
    margin-left: 4px;
    display: inline-block;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    background: #000000c7;
    z-index: 1050;
}
/*.modal .modal-container{
    height: 100%;
    width: 100%;
}*/
.modal-header, .modal-body, .modal-footer{ padding: 6px 10px; }
/*.modal-footer button{ background: #55a7ab; }*/
.modal-header button{ background: unset; }
.modal-title i{ font-size: 20px; margin-right: 10px; }
.modal-title .account_name{ font-weight: 700; color: #8976ef;}
.account_name{ font-weight: 700; color: #8976ef;}
/*.close{opacity: 0.65; font-size: 19px;}*/
.site_heading{}
.margin_10{margin: 10px;}
.margin_5{margin: 5px;}
.margin_10{margin: 10px;}
.margin_15{margin: 15px;}
.margin_20{margin: 20px;}
.padding_10{padding: 10px;}
.padding_15{padding: 15px;}
.padding_20{padding: 20px;}
.padding_30{padding: 30px;}
.padding_5{padding: 5px;}
.clr_white{color: #fff;}
.clr_acua{color: aquamarine;}
.clr_pretty_blue{color: #2196f3}
.clr_orng{color: #e39335;}
.clr_grn{color: #1ae71a;}
.clr_red{color: #ff1f1f;}
.clr_chocolate{color: chocolate;}
.secbg{ background: #1e2630; /* #303144; #2e3135; */}
.bg_clr_offwhite{ background: #edeffa; }
.fntsz_12{ font-size: 12px; }
.fntsz_15{ font-size: 15px; }
.fntsz_16{ font-size: 16px; }
.fntsz_17{ font-size: 17px; }
.fntsz_18{ font-size: 18px; }
.fntsz_19{ font-size: 19px; }
.fntsz_20{ font-size: 20px; }
.fntsz_22{ font-size: 22px; }
.fntsz_24{ font-size: 24px; }
.fntsz_26{ font-size: 26px; }
.fntsz_27{ font-size: 27px; }
.fntsz_28{ font-size: 28px; }
.fntsz_29{ font-size: 29px; }
.fntsz_30{ font-size: 30px; }
.hover:hover{cursor:pointer; color:#00ff00; transition:0.3s;}
.hover_red:hover{cursor:pointer; color:#ff3939; transition:0.3s;}
.center{ text-align: center; }
.pointer{cursor:pointer;}
.transition{transition: all 0.3s;}
.transform{ transition: all 0.5s; }
.transform:hover{ transform: scale(1.2); }
.txt_no_decor{ text-decoration: none;}
.right{ float: right; }
.left{ float: left; }
.clear{ clear: both; }
.rtl{text-align: right;}
.ltr{text-align: left;}
.rtl_f{text-align: right !important;}
.ltr_f{text-align: left !important;}
.rel{ position: relative; }
.abs{ position: absolute; }
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flx{ display: flex; }
.flx_vt{ align-items: flex-start; }
.flx_vc{ align-items: center; }
.flx_vb{ align-items: flex-end; }
.flx_hl{ justify-content: flex-start; }
.flx_hc{ justify-content: center; }
.flx_hr{ justify-content: flex-end; }
.inline_block{display:inline-block;}
.hide_n{display:none;}
.btn-expand{ width: 100%; max-width: 500px; }
.btn-expand-full{ width: 100%; }

.rotate_360, .rotate_180, .rotate_90, .flipv_360, .flipv_180, .fliph_360, .fliph_180{
    transition: all 0.5s;
}
.rotate_360:hover{
    transform: rotate(360deg);
}
.rotate_180:hover{
    transform: rotate(180deg);
}
.rotate_90:hover{
    transform: rotate(90deg);
}
.flipv_360:hover{
    transform: rotateX(360deg);
}
.flipv_180:hover{
    transform: rotateX(180deg);
}
.fliph_360:hover{
    transform: rotateY(360deg);
}
.fliph_180:hover{
    transform: rotateY(180deg);
}



/* AYAN */

.pad-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-5{ padding: 5px; }
.padding-10{ padding: 10px; }
.padding-20{ padding: 20px; }
.padding-30{ padding: 30px; }
.padding-40{ padding: 40px; }


.padding-y5 { padding-top : 5px; padding-bottom : 5px; }
.padding-x5 { padding-right : 5px; padding-left : 5px; }
.padding-y10 { padding-top : 10px; padding-bottom : 10px; }
.padding-x10 { padding-right : 10px; padding-left : 10px; }
.padding-y20 { padding-top : 20px; padding-bottom : 20px; }
.padding-x20 { padding-right : 20px; padding-left : 20px; }
.padding-y30 { padding-top: 30px; padding-bottom: 30px; }
.padding-x40 { padding-top: 40px; padding-bottom: 40px; }


.padding-t5 { padding-top : 5px; }
.padding-b5 { padding-bottom : 5px; }
.padding-l5 { padding-left : 5px; }
.padding-r5 { padding-right : 5px; }

.padding-t10 { padding-top : 10px; }
.padding-b10 { padding-bottom : 10px; }
.padding-l10 { padding-left : 10px; }
.padding-r10 { padding-right : 10px; }

.padding-t20 { padding-top : 20px; }
.padding-b20 { padding-bottom : 20px; }
.padding-l20 { padding-left : 20px; }
.padding-r20 { padding-right : 20px; }

.padding-t30 { padding-top : 30px; }
.padding-b30 { padding-bottom : 30px; }
.padding-l30 { padding-left : 30px; }
.padding-r30 { padding-right : 30px; }

.padding-t40 { padding-top : 40px; }
.padding-b40 { padding-bottom : 40px; }
.padding-l40 { padding-left : 40px; }
.padding-r40 { padding-right : 40px; }



/* margin */

.margin-x-auto{
    margin-left: auto;
    margin-right: auto;
}

.margin-5 {margin : 5px;}
.margin-t5 {margin-top : 5px;}
.margin-b5 {margin-bottom : 5px;}
.margin-l5 {margin-left : 5px;}
.margin-r5 {margin-right : 5px;}
.margin-y5 {
    margin-top : 5px;
    margin-bottom : 5px;
}
.margin-x5 {
    margin-right : 5px;
    margin-left : 5px;
}

.margin-10 {margin : 10px;}
.margin-t10 {margin-top : 10px;}
.margin-b10 {margin-bottom : 10px;}
.margin-l10 {margin-left : 10px;}
.margin-r10 {margin-right : 10px;}
.margin-y10 {
    margin-top : 10px;
    margin-bottom : 10px;
}
.margin-x10 {
    margin-right : 10px;
    margin-left : 10px;
}

.margin-15 {margin : 15px;}
.margin-t15 {margin-top : 15px;}
.margin-b15 {margin-bottom : 15px;}
.margin-l15 {margin-left : 15px;}
.margin-r15 {margin-right : 15px;}
.margin-y15 {
    margin-top : 15px;
    margin-bottom : 15px;
}
.margin-x15 {
    margin-right : 15px;
    margin-left : 15px;
}

.margin-20 {margin : 20px;}
.margin-t20 {margin-top : 20px;}
.margin-b20 {margin-bottom : 20px;}
.margin-l20 {margin-left : 20px;}
.margin-r20 {margin-right : 20px;}
.margin-y20 {
    margin-top : 20px;
    margin-bottom : 20px;
}
.margin-x20 {
    margin-right : 20px;
    margin-left : 20px;
}

.margin-25 {margin : 25px;}
.margin-t25 {margin-top : 25px;}
.margin-b25 {margin-bottom : 25px;}
.margin-l25 {margin-left : 25px;}
.margin-r25 {margin-right : 25px;}
.margin-y25 {
    margin-top : 25px;
    margin-bottom : 25px;
}
.margin-x25 {
    margin-right : 25px;
    margin-left : 25px;
}

.margin-30 {margin : 30px;}
.margin-t30 {margin-top : 30px;}
.margin-b30 {margin-bottom : 30px;}
.margin-l30 {margin-left : 30px;}
.margin-r30 {margin-right : 30px;}
.margin-y30 {
    margin-top : 30px;
    margin-bottom : 30px;
}
.margin-x30 {
    margin-right : 30px;
    margin-left : 30px;
}

.margin-35 {margin : 35px;}
.margin-t35 {margin-top : 35px;}
.margin-b35 {margin-bottom : 35px;}
.margin-l35 {margin-left : 35px;}
.margin-r35 {margin-right : 35px;}
.margin-y35 {
    margin-top : 35px;
    margin-bottom : 35px;
}
.margin-x35 {
    margin-right : 35px;
    margin-left : 35px;
}

.margin-40 {margin : 40px;}
.margin-t40 {margin-top : 40px;}
.margin-b40 {margin-bottom : 40px;}
.margin-l40 {margin-left : 40px;}
.margin-r40 {margin-right : 40px;}
.margin-y40 {
    margin-top : 40px;
    margin-bottom : 40px;
}
.margin-x40 {
    margin-right : 40px;
    margin-left : 40px;
}

.inline-block{display:inline-block;}
.hide-n{display:none;}
.rel-pos{ position: relative; }
.rel-abs{ position: absolute; }
.text-small{ font-size: 14px; }
.overflow-hidden { overflow: hidden; }
.overflow-x-hidden { overflow-x : hidden; }
.overflow-y-hidden { overflow-y : hidden; }
.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-justify { text-align: justify; }
.text-bold{ font-weight:bold; }
.shadow{ box-shadow: 0px 2px 15px 0px #b5b5b530; }
.shadow-light{ box-shadow: 0 4px 14px 0px #0000001c; }


/* color */

.clr-111 { color: #111; }
.clr-222 { color: #222; }
.clr-333 { color: #333; }
.clr-444 { color: #444; }
.clr-555 { color: #555; }
.clr-666 { color: #666; }
.clr-777 { color: #777; }
.clr-888 { color: #888; }
.clr-999 { color: #999; }
.clr-aaa { color: #aaa; }
.clr-bbb { color: #bbb; }
.clr-ccc { color: #ccc; }
.clr-ddd { color: #ddd; }
.clr-eee { color: #eee; }

.clr-black{color: #000;}
.clr-white{color: #fff;}
.clr-white-imp{ color: #fff !important; }
.clr-lightgrey{ color: lightgrey; }
.clr-star-rating{ color: #ffc200; }
.clr-red{ color: #da2c46;}
.clr-green{ color: green; }
.clr-orange{ color: orange; }
.clr-blue{ color: blue; }
.clr-dodgerblue{ color: dodgerblue; }
.clr-royalblue{ color: royalblue; }



/* background color */


.bgclr-111 { background-color: #111; }
.bgclr-222 { background-color: #222; }
.bgclr-333 { background-color: #333; }
.bgclr-444 { background-color: #444; }
.bgclr-555 { background-color: #555; }
.bgclr-666 { background-color: #666; }
.bgclr-777 { background-color: #777; }
.bgclr-888 { background-color: #888; }
.bgclr-999 { background-color: #999; }
.bgclr-aaa { background-color: #aaa; }
.bgclr-bbb { background-color: #bbb; }
.bgclr-ccc { background-color: #ccc; }
.bgclr-ddd { background-color: #ddd; }
.bgclr-eee { background-color: #eee; }

.bg-white { background-color: #ffffff; }
.bg-green{background-color: #38c179; }
.bg-orange{background-color: #f0a400; }
.bg-lightgrey{ background-color: lightgrey }
.bg-fadeblue{ background-color: #f0f8ff }
.bg-red{ background-color: #da2c46; }
.bg-darkcyan{ background-color: darkcyan; }


/* opacity */


.opacity-0{ opacity : 0; }
.opacity-005{ opacity : 0.05; }
.opacity-01{ opacity : 0.1; }
.opacity-015{ opacity : 0.15; }
.opacity-02{ opacity : 0.2; }
.opacity-025{ opacity : 0.25; }
.opacity-03{ opacity : 0.3; }
.opacity-035{ opacity : 0.35; }
.opacity-04{ opacity : 0.4; }
.opacity-045{ opacity : 0.45; }
.opacity-05{ opacity : 0.5; }
.opacity-055{ opacity : 0.55; }
.opacity-06{ opacity : 0.6; }
.opacity-065{ opacity : 0.65; }
.opacity-07{ opacity : 0.70; }
.opacity-075{ opacity : 0.75; }
.opacity-08{ opacity : 0.80; }
.opacity-085{ opacity : 0.85; }
.opacity-09{ opacity : 0.90; }
.opacity-095{ opacity : 0.95; }
.opacity-1{ opacity : 1; }


/* font-size */


.fntsz-1 { font-size : 1px; }
.fntsz-2 { font-size : 2px; }
.fntsz-3 { font-size : 3px; }
.fntsz-4 { font-size : 4px; }
.fntsz-5 { font-size : 5px; }
.fntsz-6 { font-size : 6px; }
.fntsz-7 { font-size : 7px; }
.fntsz-8 { font-size : 8px; }
.fntsz-9 { font-size : 9px; }
.fntsz-10 { font-size : 10px; }
.fntsz-11 { font-size : 11px; }
.fntsz-12 { font-size : 12px; }
.fntsz-13 { font-size : 13px; }
.fntsz-14 { font-size : 14px; }
.fntsz-15 { font-size : 15px; }
.fntsz-16 { font-size : 16px; }
.fntsz-17 { font-size : 17px; }
.fntsz-18 { font-size : 18px; }
.fntsz-19 { font-size : 19px; }
.fntsz-20 { font-size : 20px; }
.fntsz-21 { font-size : 21px; }
.fntsz-22 { font-size : 22px; }
.fntsz-23 { font-size : 23px; }
.fntsz-24 { font-size : 24px; }
.fntsz-25 { font-size : 25px; }
.fntsz-26 { font-size : 26px; }
.fntsz-27 { font-size : 27px; }
.fntsz-28 { font-size : 28px; }
.fntsz-29 { font-size : 29px; }
.fntsz-30 { font-size : 30px; }
.fntsz-31 { font-size : 31px; }
.fntsz-32 { font-size : 32px; }
.fntsz-33 { font-size : 33px; }
.fntsz-34 { font-size : 34px; }
.fntsz-35 { font-size : 35px; }
.fntsz-36 { font-size : 36px; }
.fntsz-37 { font-size : 37px; }
.fntsz-38 { font-size : 38px; }
.fntsz-39 { font-size : 39px; }
.fntsz-40 { font-size : 40px; }
.fntsz-41 { font-size : 41px; }
.fntsz-42 { font-size : 42px; }
.fntsz-43 { font-size : 43px; }
.fntsz-44 { font-size : 44px; }
.fntsz-45 { font-size : 45px; }
.fntsz-46 { font-size : 46px; }
.fntsz-47 { font-size : 47px; }
.fntsz-48 { font-size : 48px; }
.fntsz-49 { font-size : 49px; }
.fntsz-50 { font-size : 50px; }


.btn.bg-orange{ color: #fff;}


/* border */ 

.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-3 { border-width: 3px; }
.border-4 { border-width: 4px; }
.border-5 { border-width: 5px; }
.border-6 { border-width: 6px; }
.border-7 { border-width: 7px; }
.border-8 { border-width: 8px; }

.border-round { border-radius: 50%; }

.border-radius-1 { border-radius: 1px; }
.border-radius-2 { border-radius: 2px; }
.border-radius-3 { border-radius: 3px; }
.border-radius-4 { border-radius: 4px; }
.border-radius-5 { border-radius: 5px; }
.border-radius-6 { border-radius: 6px; }
.border-radius-7 { border-radius: 7px; }
.border-radius-8 { border-radius: 8px; }
.border-radius-9 { border-radius: 9px; }
.border-radius-10 { border-radius: 10px; }

.border-light { border-style: solid; border-color: #eee; }
.border-dark { border-style: solid; border-color: #333; }

.border-000 { border-style: solid; border-color: #000; }
.border-111 { border-style: solid; border-color: #111; }
.border-222 { border-style: solid; border-color: #222; }
.border-333 { border-style: solid; border-color: #333; }
.border-444 { border-style: solid; border-color: #444; }
.border-555 { border-style: solid; border-color: #555; }
.border-666 { border-style: solid; border-color: #666; }
.border-777 { border-style: solid; border-color: #777; }
.border-888 { border-style: solid; border-color: #888; }
.border-999 { border-style: solid; border-color: #999; }
.border-aaa { border-style: solid; border-color: #aaa; }
.border-bbb { border-style: solid; border-color: #bbb; }
.border-ccc { border-style: solid; border-color: #ccc; }
.border-ddd { border-style: solid; border-color: #ddd; }
.border-eee { border-style: solid; border-color: #eee; }
.border-fff { border-style: solid; border-color: #fff; }


/* AYAN */



.online{color:#30eb30;}
::-webkit-scrollbar{ width: 5px; height: 5px;}
::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #666; 
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover { background: #888; }

.blink{
  opacity:0;
  animation-name: blink_this;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink_this{
  0%{opacity: 0}
  80%{opacity: 1}
  100%{opacity: 0}
}
.blink_zone_icon{
  animation-name: blink_this_zone_icon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes blink_this_zone_icon{
  0%{color: #eee}
  75%{color: #40a9c1}
  100%{color: #eee}
}
.online{
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: #38f538;
}
@keyframes blinker{ from { opacity: 1; } to { opacity: 0.3; } }

.icon-loader_cont{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.icon-loader{
    border: 4px solid #fff0;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    //border-right-color: #3498db;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    display: inline-block;
}
.spinner{
    animation: spin 0.5s linear infinite;
}
@-webkit-keyframes spin{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup-alert-container{
    z-index: 1500;
    position: fixed;
    top: 50px;
    right: 50px;
    max-height: 230px;
    max-width: 400px;
    overflow-y: hidden;
}
.popup-alert{
    color:#fff;
    padding: 7px 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: fit-content;
    text-align: justify;
    background-color:#42c727;
}




button:focus{
    outline: none;
}
.outline-l-w{
    outline: 1px solid #e3e3e3 !important;
}
select{
    cursor: pointer;
}


/* Bootstrap 5 style copied */


.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check-input:checked {
    background-color: #71b4fb;
    border-color: #0d6efd;
}
.form-switch .form-check-input {
    width: 2em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}
#hasExtraFeature{
    position: unset;
}


/* Bootstrap 5 style copied */




/* CHESS GAME */

body{
    background: #2b777a; //#1a191c;
    color: #fff !important;
}

button{
    background: #11a1a7;
}
button:hover{
    background: #00c7cf;
}
.heading{
    color: #00ffc4;
    font-family: cursive;
}
.game_cont {
    display: flex;
    column-gap: 35px;
    margin: 20px 0;
    justify-content: center;
}
.board{
    width: min-content;
    border: 5px solid #c12ea2;
    border-radius: 4px;
}
.board .row.even .cell:nth-child(even){
    /*background: #458967;*/
    background: #456389;
}
.board .row.even .cell:nth-child(odd){
    /*background: #789634;*/
    /*background: #7b2981;*/
    background: #bdbdbd;
}
.board .row.odd .cell:nth-child(odd){
    /*background: #458967;*/
    background: #456389;
}
.board .row.odd .cell:nth-child(even){
    /*background: #789634;*/
    /*background: #7b2981;*/
    background: #bdbdbd;
}
.cell{
    background: #363636;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.board[now-playing="white"] .cell:has(.piece[player="white"]),
.board[now-playing="black"] .cell:has(.piece[player="black"]){
    cursor: pointer;
}
.board[now-playing="white"] .cell:has(.piece[player="black"]),
.board[now-playing="black"] .cell:has(.piece[player="white"]) {
    cursor: no-drop;
}
.cell:has(.move_helper) {
    cursor: pointer !important;
}

.game_table {
    width: fit-content;
    margin: auto;
}

.player_control .name{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.game_result{
    font-size: 20px;
    color: #fff;
}
.game_result div {
    padding: 6px 16px;
    border-radius: 8px;
}
.game_result .lose{
    background: red;
}
.game_result .win{
    background: green;
}

select {
    padding: 8px;
    border-radius: 6px;
}
h2{
    margin: 20px;
    color: #3fbac1;
}
.setting_cont{
    font-size: 18px;
    color: #fff;
}

.player_color{
    width: 35px;
    height: 35px;
    border-radius: 8px;
}
.player_color.white{ background: #ebebeb; }
.player_color.black{ background: #323232; }





/* -------------------------------- */

.game_table {
    display: flex;
}
.checkmate_popup{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #ff5858;
    background: #00000000;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
}
.checkmate_popup .text{
    transform: rotate(-45deg);
    animation-duration: 1.5s;
}
.cell:hover{
    opacity: 0.9;
}
.cell .move_helper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #f75757;
}
.cell:has(.piece) .move_helper{
    border: 2px solid #dd5c5c;
}
.cell .piece{
    width: 46px;
    height: 46px;
}
.cell .piece img{
    width: 40px;
}
.piece.selected{
    border: 2px solid #093770; //#519bf7
    z-index: 2;
}
.piece[check-detected]{
    border: 3px solid #f30909;
    animation: check_detected 1.5s linear infinite;
}
@keyframes check_detected {
    0% { border: 3px solid #f30909; }
    50% { border: 3px solid #f3090900; }
    100% { border: 3px solid #f30909; }
}

/*.dead_piece {
    width: 400px;
    margin: 20px auto 10px;
    border: 2px solid #349fc7;
    border-radius: 8px;
    background: #ddd;
}*/
.dead_piece{
    width: 70px;
    margin: 0 15px;
    border: 2px solid #349fc7;
    border-radius: 8px;
    background: #ddd;
}
.dead_piece.black { margin-right: 40px; }
.dead_piece.white { margin-left: 40px; }
.dead_piece .piece{
    display: inline-block;
}
.dead_piece img{
    width: 35px;
}

.play_info {
    /*display: flex;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    margin: 20px auto 0;
}
.play_info.big {
    width: 580px;
}
.play_info.small {
    display: none;
}
.player{
    border: 1px solid transparent;
    border-radius: 8px;
    width: fit-content;
    padding: 2px 5px;
    opacity: 0.35;
}
.play_info[player="white"] .player:has(.white), 
.play_info[player="black"] .player:has(.black),
.play_info[winner] .player, 
.play_info[winner] .player {
    border: 2px solid #00ffc4;
    opacity: 1;
}
.play_info .winner_crown{
    position: absolute;
    top: -12px;
    padding: 2px 7px;
    background: #fd5b1c; //#9100ff;
    font-size: 12px;
    animation-duration: 1.5s;
    border-radius: 30px;
    display: none;
    animation: winner_crown_anim linear 3s infinite;
}
@keyframes winner_crown_anim{
    0% { transform: scale(1); }
    70% { transform: scale(1); }
    90% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.play_info .white .winner_crown{ right: 0; }
.play_info .black .winner_crown{ left: 0; }
.play_info[winner="black"] .black .winner_crown{ display: block; }
.play_info[winner="white"] .white .winner_crown{ display: block; }
.play_info.big .name{ max-width: 185px; }
.play_info.small .name{ max-width: 110px; }

.piece.checkmate{
    animation: checkmate_popup 1.3s linear infinite;
    z-index: 5;
    border: none;
}
@keyframes checkmate_popup{
    0% { transform: scale(1); }
    70% { transform: scale(1.5); }
    90% { transform: scale(1.5); }
    100% { transform: scale(1); }
}


.replace_piece_cont{
    
}
.replace_piece_cont .piece{
    display: inline-block;
    margin: 0 5px;
}
.replace_piece_cont img{
    width: 35px;
}


.game_start_modal{
    background: #000000e6;
}
.game_start_modal fieldset{
    background-color: #f59494;
    border: none;
}
.game_start_modal legend{
    background: #6969c3;
    padding: 2px 14px;
    border-radius: 20px;
}









@media (min-width: 768px){
    

}
@media (min-width: 992px){

}

@media (max-width:1000px){

}
@media (max-width:991px){
    .dead_piece.black { margin-right: 15px; }
    .dead_piece.white { margin-left: 15px; }
}
@media (max-width:950px){
    .game_cont{ display: grid; }


    .player_control_area{ margin-top: 25px; } 

}
@media (max-width:900px){

}
@media (max-width:850px){


}
@media (max-width:800px){

}
@media (max-width:750px){


}
@media (max-width:720px){ 
    .popup-alert-container{ top: 30px; right: 20px; max-width: 300px; }

    .player_control .name{ width: unset; }
    .player_control > div{ flex-direction: row-reverse; justify-content: left; }

}
@media (max-width:650px){
    .heading{ margin-top: 8px; }
    .game_cont{ margin: 15px 0; }
    .game_table { display: block; }
    .dead_piece { width: 400px; min-height: 39px; }
    .dead_piece.black { margin: 0px auto 10px; }
    .dead_piece.white { margin: 10px auto 0px; }
    .play_info.big { display: none; }
    .play_info.small { display: grid; margin-top: 10px; }
    .play_info .player_color{ width: 28px; height: 28px; }
}
@media (max-width:550px){
    h2{ font-size: 18px; }
}
@media (max-width:500px){
    .cell{ width: 38px; height: 38px; }
    .cell .piece{ width: 34px; height: 34px; }
    .cell .piece img{ width: 28px; }
    .heading{ font-size: 19px; margin: 15px 3px 20px; }
    .dead_piece{ width: 310px; min-height: 31px; }
    .dead_piece img{ width: 28px; }
    .play_info.small{ display: block; justify-content: center; row-gap: 5px; }
    .player{ padding: 5px 20px; width: 100%; justify-content: center; }
    .undo_btn{ margin: 15px 0; width: 100%; }
    .play_info.small .player.black { flex-direction: row-reverse; }
    .play_info.small .player_color.black { margin-left: 0; margin-right: 10px; }
}
@media (max-width:450px){



}
@media (max-width:400px){
    .setting_cont{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 15px;
    }



}
@media (max-width:350px){

}
@media (max-width:320px){


}