body
{background-color: #151515; !important }
.nav_bar_container
{background-color: #252525e8; !important}
.not_found_div, .friend_list_cont, .pro_defdiv
{background: #222; !important}
.user_list
{background: #333; !important}