*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    line-height: 1.1571;
    font-style: italic;
    /*background: #1e2126; //#1e2630;
    color: #fff;*/
}
label{margin:0;}
a:active, a{
    text-decoration:none;
    color: inherit;
    transition: all 0.3s;
}
a:active, a:hover{
    text-decoration:none;
    color: #2cdcdc; //#e6ffff; //#1ee976; //aqua; //#30eb30;
}
button, input[type="button"], input[type="submit"], input[type="text"], input[type="number"], input[type="password"]{
    background: #55a7ab;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 30px;
    width: auto;
    padding: 0px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    transition: all 0.3s;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover{
    background: #5fced4; //#eeeeee38;
}
input[type="text"], input[type="password"], input[type="number"]{
    background: #eee;
    cursor: initial;
    color: #000;
}
.icon-loader{
    border: 2px solid #fff0;
    border-radius: 50%;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    display: inline-block;
}
.ion-icon-loader{
    margin-left: 4px;
    display: inline-block;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.avatar{
    width: 100px;
    height: 100px;
    border: 4px solid #e5e5e5;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
}
.modal{overflow-y: auto; background: #00000088;}
.modal-header, .modal-body, .modal-footer{ padding: 3px 10px; }
.modal-footer button{ background: #55a7ab; }
.modal-header button{ background: unset; }
.modal-title i{ font-size: 20px; margin-right: 10px; }
.modal-title .account_name{ font-weight: 700; color: #8976ef;}
.account_name{ font-weight: 700; color: #8976ef;}
.close{opacity: 0.65; font-size: 19px;}
.site_heading{}
.margin_10{margin: 10px;}
.margin_5{margin: 5px;}
.margin_10{margin: 10px;}
.margin_15{margin: 15px;}
.margin_20{margin: 20px;}
.padding_10{padding: 10px;}
.padding_15{padding: 15px;}
.padding_20{padding: 20px;}
.padding_30{padding: 30px;}
.padding_5{padding: 5px;}
.clr_white{color: #fff;}
.clr_acua{color: aquamarine;}
.clr_lblue{color: #5b92d6;}
.clr_pretty_blue{color: #2196f3}
.clr_orng{color: #e39335;}
.clr_grn{color: #1ae71a;}
.clr_red{color: #ff1f1f;}
.clr_chocolate{color: chocolate;}
.secbg{ background-color: #1e2630; /* #303144; #2e3135; */}
.bg_lblue{background-color: #5b92d6;}
.bg_offwhite{ background-color: #edeffa; }
.fntsz_12{ font-size: 12px; }
.fntsz_15{ font-size: 15px; }
.fntsz_16{ font-size: 16px; }
.fntsz_17{ font-size: 17px; }
.fntsz_18{ font-size: 18px; }
.fntsz_19{ font-size: 19px; }
.fntsz_20{ font-size: 20px; }
.fntsz_22{ font-size: 22px; }
.fntsz_24{ font-size: 24px; }
.fntsz_26{ font-size: 26px; }
.fntsz_27{ font-size: 27px; }
.fntsz_28{ font-size: 28px; }
.fntsz_29{ font-size: 29px; }
.fntsz_30{ font-size: 30px; }
.hover:hover{cursor:pointer; color:#00ff00; transition:0.3s;}
.hover_red:hover{cursor:pointer; color:#ff3939; transition:0.3s;}
.center{ text-align: center; }
.pointer{cursor:pointer;}
.transition{transition: all 0.3s;}
.transform{ transition: all 0.5s; }
.transform:hover{ transform: scale(1.2); }
.txt_no_decor{ text-decoration: none;}
.right{ float: right; }
.left{ float: left; }
.clear{ clear: both; }
.rtl{text-align: right;}
.ltr{text-align: left;}
.rtl_f{text-align: right !important;}
.ltr_f{text-align: left !important;}
.rel{ position: relative; }
.abs{ position: absolute; }
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline_block{display:inline-block;}
.hide_n{display:none;}

.rotate_360, .rotate_180, .rotate_90, .flipv_360, .flipv_180, .fliph_360, .fliph_180{
    transition: all 0.5s;
}
.rotate_360:hover{
    transform: rotate(360deg);
}
.rotate_180:hover{
    transform: rotate(180deg);
}
.rotate_90:hover{
    transform: rotate(90deg);
}
.flipv_360:hover{
    transform: rotateX(360deg);
}
.flipv_180:hover{
    transform: rotateX(180deg);
}
.fliph_360:hover{
    transform: rotateY(360deg);
}
.fliph_180:hover{
    transform: rotateY(180deg);
}
.online{color:#30eb30;}
::-webkit-scrollbar{ width: 5px; height: 5px;}
::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #666; 
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover { background: #888; }

.blink{
  opacity:0;
  animation-name: blink_this;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blink_this{
  0%{opacity: 0}
  80%{opacity: 1}
  100%{opacity: 0}
}
.blink_zone_icon{
  animation-name: blink_this_zone_icon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes blink_this_zone_icon{
  0%{color: #eee}
  75%{color: #40a9c1}
  100%{color: #eee}
}
.online{
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    color: #38f538;
}
@keyframes blinker{ from { opacity: 1; } to { opacity: 0.3; } }
.friend_list_cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px 0;
    background: #00a4f2;
    padding: 10px 0;
}
.preload{
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1e2630;
}
.icon-loader_cont{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.icon-loader{
    border: 4px solid #fff0;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    //border-right-color: #3498db;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    display: inline-block;
}
@-webkit-keyframes spin{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.popup-alert-container{
    z-index: 1500;
    position: fixed;
    top: 50px;
    right: 50px;
    max-height: 230px;
    max-width: 400px;
    overflow-y: hidden;
}
.popup-alert{
    color:#fff;
    padding: 7px 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: fit-content;
    text-align: justify;
    background-color:#42c727;
}


















@media (min-width: 768px){
    
}
@media (min-width: 950px){

}

@media (max-width:1000px){

}
@media (max-width:950px){


}
@media (max-width:900px){

}
@media (max-width:850px){

}
@media (max-width:800px){

}
@media (max-width:760px){

}
@media (max-width:720px){ 
    .popup-alert-container{ top: 30px; right: 20px; max-width: 300px; }
}
@media (max-width:600px){

}
@media (max-width:550px){

}
@media (max-width:500px){
    .popup-alert-container{ top: 10px; right: 10px; max-width: 250px; max-height: 155px; }
    .popup-alert{ padding: 4px 7px; }
}
@media (max-width:450px){

}
@media (max-width:400px){

}
@media (max-width:350px){

}
@media (max-width:320px){


}